attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
idna==3.18
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
keyring==25.7.0
lxml==6.1.1
more-itertools==11.1.0
openconnect-saml==0.24.5
Pillow==11.3.0
prompt_toolkit==3.0.52
pystray==0.19.5
PyOTP==2.10.0
PySocks==1.7.1
pywin32-ctypes==0.2.3
pyxdg==0.28
requests==2.34.2
structlog==26.1.0
toml==0.10.2
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.8.1
